body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(51, 51, 51);
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 10px;
}
.gallery-item {
    flex: 1 1 calc(20% - 10px); /* 5 colunas */
    margin-bottom: 10px;
    box-sizing: border-box;
}
.gallery-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s;
    margin-top: 70px;
}
.gallery-item img:hover {
    transform: scale(1.05);
}
@media (max-width: 992px) {
    .gallery-item {
        flex: 1 1 calc(25% - 10px); /* 4 colunas */
    }
}
@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(33.33% - 10px); /* 3 colunas */
    }
}
@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 calc(50% - 10px); /* 2 colunas */
    }
}
nav {
    background-color: rgb(150, 133, 103);
    color: rgb(51, 51, 51);
    height: 50px;
    border: solid rgb(51, 51, 51) 1px;
    padding: 5px;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav a{
    margin-left: 100px;
}